doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Demo nodejs, openshift
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css').
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Nom du projet
          .nav-collapse.collapse
            p.navbar-text.pull-right
              | Connecté en tant que
              a.navbar-link(href='#') Username
            ul.nav
              li.active
                a(href='/') Home
              li
                a(href='#about') Informations
              li
                a(href='#contact') Contacts
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Sidebar
              li.active
                a(href='#') Liens
              li
                a(href='#') Lien
              li
                a(href='#') Lien
              li
                a(href='#') Lien
              li.nav-header Sidebar
              li
                a(href='#') Lien
              li
                a(href='#') Lien
              li
                a(href='#') Lien
              li
                a(href='#') Lien
              li
                a(href='#') Lien
              li
                a(href='#') Lien
              li.nav-header Sidebar
              li
                a(href='#') Lien
              li
                a(href='#') Lien
              Lien
                a(href='#') Link
        .span9
          .hero-unit
            h1 Hello, world!
            p
              | Ceci est un template de type site de marketing ou d'informations
            p
              a.btn.btn-primary.btn-large Voir plus »
            h4 Info
              p.lead
              ul
                li hostname: #{hostname}
          .row-fluid
            .span4
              h2 Titre
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href='#') Voir plus »
            // /span
            .span4
              h2 Titre
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href='#') Voir plus »
            .span4
              h2 Titre
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href='#') Voir plus »
          .row-fluid
            .span4
              h2 Titre
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href='#') Voir plus »
            .span4
              h2 Titre
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href='#') Voir plus »
            .span4
              h2 Titre
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href='#') Voir plus »
      hr
      footer
        p © Geodis 2019
  include ../partials/scripts
