doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Sign in · Twitter Bootstrap
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css').
      body {
      padding-top: 50px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
      }
      .form-signin {
      max-width: 300px;
      padding: 19px 29px 29px;
      margin: 0 auto 20px;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
      box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
      margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
      font-size: 16px;
      height: auto;
      margin-bottom: 15px;
      padding: 7px 9px;
      }
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Nom du projet
          .nav-collapse.collapse
            p.navbar-text.pull-right
              | Connecté en tant que
              a.navbar-link(href='#') Username
            ul.nav
              li.active
                a(href='/') Home
              li
                a(href='#about') Informations
              li
                a(href='#contact') Contacts
              li
                | hostname: #{hostname}
    .container
      h6
      ul
       li hostname: #{hostname}
       li uptime: #{uptime} Secondes
      form.form-signin
        h2.form-signin-heading Please sign in
        input.input-block-level(type='text', placeholder='Email address')
        input.input-block-level(type='password', placeholder='Password')
        label.checkbox
          input(type='checkbox', value='remember-me')
          | Remember me
        button.btn.btn-large.btn-primary(type='submit') Sign in
      

  include ../partials/scripts
