doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Sticky footer
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    // CSS
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css').
      /* Sticky footer styles
      -------------------------------------------------- */
      html,
      body {
      height: 100%;
      /* The html and body elements cannot have any padding or margin. */
      }
      /* Wrapper for page content to push down footer */
      #wrap {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      /* Negative indent footer by it's height */
      margin: 0 auto -60px;
      }
      /* Set the fixed height of the footer here */
      #push,
      #footer {
      height: 60px;
      }
      #footer {
      background-color: #f5f5f5;
      }
      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
      #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
      }
      }
      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */
      .container {
      width: auto;
      max-width: 680px;
      }
      .container .credit {
      margin: 20px 0;
      }
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='../assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='../assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='../assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='../assets/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='../assets/ico/favicon.png')
  body
    #wrap
      .container
        .page-header
          h1 Sticky footer
        p.lead
          | Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.
      #push
    #footer
      .container
        p.muted.credit Example 
          a(href='https://geodis.com/fr') Geodis.

  include ../partials/scripts
