doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Pug Bootstrap Examples
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css').
      body {
      padding-top: 20px;
      padding-bottom: 40px;
      }
      /* Custom container */
      .container-narrow {
      margin: 0 auto;
      max-width: 700px;
      }
      .container-narrow > hr {
      margin: 30px 0;
      }
      /* Main marketing message and sign up button */
      .jumbotron {
      margin: 60px 0;
      text-align: center;
      }
      .jumbotron h1 {
      font-size: 72px;
      line-height: 1;
      }
      .jumbotron .btn {
      font-size: 21px;
      padding: 14px 24px;
      }
      /* Supporting marketing content */
      .marketing {
      margin: 60px 0;
      }
      .marketing p + h4 {
      margin-top: 28px;
      }
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
  body
    .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          li.active
            a(href='/') home
          li
            a(href='https://framagit.org/zen6') git
        h3.muted         <img src="/images/logo-geodis.png" width="50" sizealt="">
      hr
      .jumbotron
        h1 Demo apps 
        p.lead
          | Demo apps utilisant Bootstrap 2.3.2 et Pug avec Express
        a.btn.btn-large.btn-success(href='https://framagit.org/zen6/demoopenshift.git') Source
        h3 Info
        p.lead
        ul
          li hostname: #{hostname}
      hr
      .row-fluid.marketing
        .span6
          h4 Template de base
          <img src="http://twitter.github.com/bootstrap/assets/img/examples/bootstrap-example-starter.jpg" alt="">
          p
            | HTML css et boostrap  &nbsp;
            a(href='/starter') Voir&gt;&gt;
          h4 Fluid layout
          <img src="http://twitter.github.com/bootstrap/assets/img/examples/bootstrap-example-fluid.jpg" alt="">
          p
            | Mode Responsive, fluid grid. &nbsp;
            a(href='/fluid') Voir&gt;&gt;
          h4 Sign in
          <img src="http://twitter.github.com/bootstrap/assets/img/examples/bootstrap-example-signin.png" alt="">
          p
            | Formulaire de login. &nbsp;
            a(href='/signin') Voir&gt;&gt;
        .span6
          h4 Basic site
          <img src="http://twitter.github.com/bootstrap/assets/img/examples/bootstrap-example-hero.jpg" alt="">
          p
            | Utilisation hero unit. &nbsp;
            a(href='/marketing') Voir&gt;&gt;
          h4 Narrow marketing
          <img src="http://twitter.github.com/bootstrap/assets/img/examples/bootstrap-example-marketing-narrow.png" alt="">
          p
            | Slim, lightweight marketing template for small projects or teams. &nbsp;
            a(href='/narrow') Voir&gt;&gt;
          h4 Sticky footer
          <img src="http://twitter.github.com/bootstrap/assets/img/examples/bootstrap-example-sticky-footer.png" alt="">
          p
            | Pin a fixed-height footer to the bottom of the user's viewport. &nbsp;
            a(href='/sticky') Voir&gt;&gt;
      hr
      .footer
        p © Geodis 2019
  include partials/scripts
